// Body

$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

@import url('https://fonts.googleapis.com/css? family=Oxygen:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css? family=Comfortaa&display=swap');

//$body-font-family: 'Oxygen';
//$title-font: 'Comfortaa';
// https://fonts.google.com/
$body-font-family: 'M PLUS Rounded 1c';
$title-font: 'M PLUS Rounded 1c';
.v-application {
    font-family: $body-font-family, sans-serif !important;
    .title { // To pin point specific classes of some components
        font-family: $title-font, sans-serif !important;
    }
}

.bg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;
    background: red url('https://cdn.vuetifyjs.com/images/parallax/material2.jpg') center center;
    transform: scale(1.1);
}

.theme--light.v-application .markdown-body pre {
    background-color: #212121 !important;
    color: whitesmoke !important;
}
