@import url(https://fonts.googleapis.com/css? family=Oxygen:300,400,700&display=swap);
@import url(https://fonts.googleapis.com/css? family=Comfortaa&display=swap);
.v-application {
  font-family: "M PLUS Rounded 1c", sans-serif !important;
}
.v-application .title {
  font-family: "M PLUS Rounded 1c", sans-serif !important;
}

.bg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-size: cover;
  background: red url("https://cdn.vuetifyjs.com/images/parallax/material2.jpg") center center;
  transform: scale(1.1);
}

.theme--light.v-application .markdown-body pre {
  background-color: #212121 !important;
  color: whitesmoke !important;
}
